<% provide(:title, "Log in") %>
    <h1>Log in</h1>
    <p>
  Login for the Ruby on Rails Tutorial about the sample app at the
  <a href="http://www.railstutorial.org/#contact">login page</a>.
    </p>
